@media (max-width: 767px) {
     .services--detail
    {
        margin:300px 0px;
    } 
    #content
    {
      height: 500px;
      
    }
    #boxes780
 {
  margin-top: -320px ;
  
  }
  #secondhead
  {
    margin: 360px 15px;

  }
#thirdhead
{
  margin-top: -100px;
}
}


